/* Color palette: https://colorhunt.co/palette/273948*/

a {
  color: #f05945;
}

body {
  background-color: #f7f3e9;
  font-family: 'Roboto Slab', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #f05945;
  font-family: 'Allura', cursive;
  font-size: 5.5rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #5eaaa8;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
}

h3 {
  color: #f05945;
  font-family: 'Montserrat', sans-serif;
}

.top-container {
  padding-top: 100px;
  position: relative;
}

.middle-container {
  /* We made this, but never used it - not sure why, but leaving it for posterity*/
}

.bottom-container {
  /* We made this, but never used it - not sure why, but leaving it for posterity*/
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  bottom: 300px;
  left: 300px;
  position: absolute;
}

.footer-link {
  line-height: 2;
  margin: 20px 20px auto auto;
}

.skill-row {
  line-height: 1.5;
  margin: 75px auto 75px auto;
  text-align: left;
  width: 50%;
}

.data-image {
  float: left;
  margin-right: 30px;
  width: 200px;
}

.ai-image {
  float: right;
  margin-bottom: 20px;
  margin-left: 30px;
  width: 200px;
}
